body{
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    background-color: darkgrey;
    /* background: url(img/backGround.png) no-repeat center center fixed;
    background-size: cover; */
}

footer{
    justify-content: space-between;
}

p{
    text-align: justify;
    font-size: 20px;
}

table{
    border-spacing: 20px;
}

a{
    text-decoration: none;
}

/* .imgPilotos{

} */

.boxPilotos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.content{
    background-color: lightgrey;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
}

.hrPrincipal{
    margin: 40px 0;
    border: none;
    border-top: 2px solid black;
}

.box{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.conteudoCabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
}

.imagemCabecalho {
    width: 100%;
    max-width: 500px;
    min-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.imagemCorpo {
    width: 100%;
    height: auto;
    max-width: 300px;
    min-width: 150px;
    display: block;
    margin-left: 15px;
    border-radius: 5px;
}